h1{ 
text-align: center;
color: red;
padding-top:50px;
}
body{
	background-color: skyblue;
}
.fast{
	width: 75%;
	height: 800px;
	background-color:blue;
	margin: 150px;
	margin-top: 30px;
	border-radius: 50px;
	border:3px solid black;

}
 h3{ color: white;
     padding: 60px 20px 15px 60px

  }
  img{
  	width: 50%;
  	height: 50%;
  	padding: 0px 0px 0px 200px;

  }
  